/* Investigué esto en google */
@keyframes slideUp {
    from {
        transform: translateY(50%);
        opacity: 0.5;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
        opacity: 0.5;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@font-face {
    font-family: 'SF Pro Regular';
    src: url('../assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Thin Italic';
    src: url('../assets/fonts/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

.root {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #100027;
    width: 100vw;
    height: 100vh;
}


.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #1a0042;
    width: 100%;
    height: 90px;
    /* parámetros: animationName duration timingFunction fillMode 
     * timingFunction -> ease-out, linear, ease-in, ease-in-out
     * fillMode -> cambia el CSS para después o antes de la animación
     * */
    animation: slideDown 0.5s ease-out forwards;
}

.topbar > * {
    opacity: 0;
    animation: slideDown 0.4s ease-out forwards;
    animation-delay: 0.5s;
}

.topbar-title {
    font-size: 30px;
    color: #c0defc;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-left: 20px;
    font-family: 'SF Pro Thin Italic';
    flex: 1;
}

.topbar-spacer {
    flex: 1;
}

.topbar-search {
    font-size: 24px;
    color: #c0defc;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid #2e0074;
    background-color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    padding: 5px;
    font-family: 'SF Pro Regular';
    max-width: 400px;
    text-align: center;
}

.topbar-search:hover {
    background-color: #220054;
    border-radius: 10px 10px 0 0;
}

.topbar-search:focus {
    outline: none;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.content-title {
    font-size: 50px;
    color: #c0defc;
    opacity: 0;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-left: 20px;
    font-family: 'SF Pro Thin Italic';
    animation: slideUp 0.5s ease-out forwards;
    animation-delay: 0.75s;
}

.content-table-wrapper {
    width: 1200px;
    height: 600px;
    border-radius: 15px;
    border: 2px solid #2e0074;
    background: #1a0042;
    overflow: hidden;
    opacity: 0;
    animation: slideUp 0.75s ease-out forwards;
    animation-delay: 1s;
}

.content-table {
    width: 100%;
    height: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 0;
    background: transparent;
}

.content-table * {
    text-shadow: 0 0 5px rgba(0,0,0,0.65);
}

.content-table tr:first-child {
    height: 50px;
}

.content-table tr:nth-child(odd) th,
.content-table tr:nth-child(odd) td {
    background-color: #260060;
}

.content-table tr:nth-child(even) th, 
.content-table tr:nth-child(even) td {
    background-color: #300078;
}

.content-table th {
    background: transparent;
    border-right: 2px solid #2e0074;
    border-bottom: 2px solid #2e0074;
    padding: 12px;
    font-size: 28px;
    color: #c0defc;
    opacity: 0;
    font-family: 'SF Pro Thin Italic';
    animation: slideUp 0.5s ease-out forwards;
    text-align: center;
    animation-delay: 1.2s;
}

.content-table th:last-child,
.content-table td:last-child {
    border-right: 0;
}

.content-table td {
    border-right: 2px solid #2e0074;
    border-bottom: 2px solid #2e0074;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}

.content-table tr > * {
    height: 200px;
}

.content-table tr p {
    font-size: 24px;
    color: #c0defc;
    opacity: 0;
    font-family: 'SF Pro Regular';
    animation: slideUp 0.5s ease-out forwards;
    text-align: center;
    animation-delay: 1.2s;
}

.content-table .series-description {
    text-align: left;
}

.content-table tr img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Portada */
.content-table tr > *:nth-child(1) {
    width: 350px;
    height: 200px;
    background-size: 100% 100%;
}

/* Nombre y desc */
.content-table tr > *:nth-child(2) {
    width: 500px;
    height: 200px;
}

/* Ep actual y totales */
.content-table tr > *:nth-child(3),
.content-table tr > *:nth-child(4) {
    width: 100px;
    height: 200px;
}

/* Rating */
.content-table tr > *:nth-child(5) {
    width: 150px;
    height: 200px;
}

.content-table tr:first-child > * {
    height: 80px;
}

.content-controls {
    display: flex;
    width: 1200px;
    height: 100px;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}

.content-addSeries {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'SF Pro Regular';
    font-size: 20px;
    text-shadow: 0 0 5px rgba(0,0,0,0.65);
    color: #c0defc;
    text-decoration: none;
    background-color: #2e0074;
    border-radius: 20px;
    width: 140px;
    height: 50px;
    opacity: 0;
    border: 0;
    animation: slideUp 0.5s ease-out forwards;
    animation-delay: 1.3s;
}

.content-addSeries:hover {
    background-color: #220054;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.content-controls-spacer {
    flex: 1;
}
